@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

html, body, [class*="css"]{
    font-family:'Inter',sans-serif;
}

/* App Background */
.stApp{
    background:#F5F7FB;
    color:#1E293B;
}

/* Hide Streamlit Branding */
#MainMenu,
footer,
header{
    visibility:hidden;
}

/* Main Container */
.block-container{
    padding-top:2rem;
    padding-bottom:2rem;
}

/* Hero Card */
.glass-card{
    background:white;
    border-radius:20px;
    padding:35px;
    box-shadow:0 10px 35px rgba(0,0,0,.08);
    margin-bottom:30px;
}

/* Title */
.main-title{
    color:#1E3A8A;
    font-size:52px;
    font-weight:800;
    margin:0;
}

/* Subtitle */
.sub-title{
    color:#475569;
    font-size:20px;
    margin-top:12px;
}

/* All headings */
h1,h2,h3,h4,h5,h6{
    color:#0F172A !important;
}

/* Normal text */
p,label,span,li,div{
    color:#1E293B;
}

/* Inputs */
input{
    color:black !important;
}

/* Select Boxes */
div[data-baseweb="select"]{
    color:black !important;
}

/* Text Areas */
textarea{
    color:black !important;
}

/* Buttons */
.stButton>button{
    width:100%;
    border:none;
    border-radius:12px;
    background:#2563EB;
    color:white !important;
    padding:14px;
    font-size:17px;
    font-weight:700;
}

.stButton>button:hover{
    background:#1D4ED8;
}

/* Metric Cards */
[data-testid="stMetric"]{
    background:white;
    border-radius:18px;
    padding:18px;
    box-shadow:0 6px 20px rgba(0,0,0,.08);
}

/* Containers */
[data-testid="stVerticalBlockBorderWrapper"]{
    border-radius:18px;
}

/* Success & Error */
.stSuccess,
.stError{
    border-radius:15px;
}